{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rakia APP</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <h1>Welcome to Django</h1>
    <p>This is a simple Django application.</p>
    <script>
        // Example JavaScript code
        console.log("Welcome to the Django app!");</script>
        <img src="{% static 'images/dlogo.png' %}" alt="Logo" class="logo">
 </body>

</html>
