{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success Page</title>
    <link rel="stylesheet" href="{% static 'style/styles.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <div class="hero-container">
        <div class="card">
            <img src="{% static 'images/logo1.jpg' %}" alt="Logo" class="logo" />
            <h1>Thank you for contacting us!</h1>
            <p>Your message has been successfully sent.</p>
            <a href="{% url 'home' %}">
                <button class="cta-button">Return to Home</button>
            </a>
        </div>
    </div>
</body>

</html>
