{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <div class="centrzd-content">
        <img src="{% static 'images/logo2.png' %}" alt="Logo" class="logo">
        <form  method="post">
            {% csrf_token%}
            {{form.as_p}}

             <button type="submit">Submit</button>

        </form>

        </form>
    </div>

</body>

</html>